<md-content flex
    layout="row"
    md-theme="teal">
    
    <md-content flex
        layout="column">
        <md-toolbar class="app-toolbar md-whiteframe-z2"
            ng-animate="animate">
            <div class="md-toolbar-tools" ng-if="theme == 'teal'">
                <h2 class="md-title">{{ 'title_chatters' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'grey'">
                    <md-tooltip>{{ 'action_search' | translate }}</md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="messages()">
                    <md-tooltip>{{ 'action_message' | translate }}</md-tooltip>
                    <md-icon>message</md-icon>
                </md-button>
            </div>
            
            <div class="md-toolbar-tools" ng-if="theme == 'grey'">
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'teal'">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-input-container flex md-no-float>
                    <br>
                    <input ng-model="$parent.query.$"
                        placeholder="{{ 'action_search' | translate }}"
                        type="search">
                </md-input-container>
                <md-button class="md-icon-button"
                    ng-click="reset()">
                    <md-tooltip>{{ 'action_reset' | translate }}</md-tooltip>
                    <md-icon>cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs flex 
            md-stretch-tabs="auto"
            md-swipe-content="true">
            <md-tab>
            <md-tab-label>
              <md-icon>home</md-icon>
            </md-tab-label>
            <md-tab-body>
            <md-divider></md-divider>
                <md-grid-list
                    flex-gt-sm="90"
                    flex-gt-md="80"
                    flex-gt-lg="70"
                    md-cols="1"
                    md-cols-gt-sm="10"
                    md-cols-gt-md="4"
                    md-gutter="0px"
                    md-row-height="2:1">
                    <md-grid-tile
                        class="app-background-white app-pointer" 
                        no-repeat>
                        <img ng-src="">
                        <md-grid-tile-footer>
                            <md-icon ng-click="like()">favorite_border</md-icon>
                            <md-icon ng-click="comment()">comment</md-icon>
                            {{comment}}
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </md-tab-body>
            </md-tab>

            <md-tab>
            <md-tab-label>
              <md-icon>toys</md-icon>
            </md-tab-label>
            <md-tab-body>
              <div>
              <md-divider></md-divider>
                  <md-button class="md-icon-button"
                      ng-click="image()">
                      <md-tooltip>{{ 'action_text' | translate }}</md-tooltip>
                      <md-icon>textsms</md-icon>
                  </md-button>
                  <md-button class="md-icon-button"
                      ng-click="image()">
                      <md-tooltip>{{ 'action_image' | translate }}</md-tooltip>
                      <md-icon>image</md-icon>
                  </md-button>
                  <md-content>
                    <section>
                      <md-list layout-padding>
                        <md-list-item class="md-3-line" ng-repeat="message in messages"  ng-click="test()">
                            <img ng-src="{{message.face}}" class="md-avatar">
                            <div class="md-list-item-text">
                              <h4>{{message.name}}</h4>
                              <h4>{{message.notes}}</h4>
                              <p>
                                {{message.image}}
                              </p>
                            </div>
                        </md-list-item>
                      </md-list>
                    </section>
                  </md-content>
                </div>
            </md-tab-body>
            </md-tab>
            
            <md-tab>
            <md-tab-label>
              <md-icon>photo_camera</md-icon>
            </md-tab-label>
            <md-tab-body>
            <md-divider></md-divider>
              Take Picture
            </md-tab-body>
            </md-tab>
            
            <md-tab>
            <md-tab-label>
              <md-icon>favorite</md-icon>
            </md-tab-label>
            <md-tab-body>
            <md-divider></md-divider>
              Like
            </md-tab-body>
            </md-tab>
            
            <md-tab>
            <md-tab-label>
              <md-icon>person</md-icon>
            </md-tab-label>
            <md-tab-body>
            <md-divider></md-divider>
              Profile
            </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
