<md-content flex
    layout="row"
    md-theme="teal">
    <md-content class="app-toolbar-container"
        flex
        layout="column">
        <md-toolbar class="md-whiteframe-z2">
                <md-button class="md-icon-button"
                    ng-click="delete($event, user)">
                    <md-tooltip>{{ 'action_delete' | translate }}</md-tooltip>
                    <md-icon>delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs flex
            md-stretch-tabs="auto"
            md-swipe-content="true">
            <md-tab>
            <md-icon>home</md-icon>
                <md-list>
                </md-list>
            </md-tab>

            <md-tab>
            <md-icon>search</md-icon>
                <md-list>
                </md-list>
            </md-tab>
            
            <md-tab>
            <md-icon>photo_camera</md-icon>
                <md-list>
                </md-list>
            </md-tab>
            
            <md-tab>
            <md-icon>favorite_border</md-icon>
                <md-list>
                </md-list>
            </md-tab>
            <md-tab>
            <md-icon>person</md-icon>
                <md-list>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
