<md-list flex
    ng-controller="SettingsController">
        <md-content style="margin: 16px; padding:16px">
        <h2 class="md-body-2">RM</h2>
            <div layout>
              <div flex="10" layout layout-align="center center">
              </div>
              <md-slider flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider" class>
              </md-slider>
              <div flex="20" layout layout-align="center center">
                <input flex type="number" ng-model="color.red" aria-label="red" aria-controls="red-slider">
              </div>
            </div>
            <div layout>
              <div flex="10" layout layout-align="center center">
              </div>
              <md-slider flex ng-model="color.blue" min="0" max="255" aria-label="blue" id="blue-slider" class>
              </md-slider>
              <div flex="20" layout layout-align="center center">
                <input flex type="number" ng-model="color.blue" aria-label="blue" aria-controls="blue-slider">
              </div>
            </div>
            
        <h2 class="md-body-2">Date</h2>
            <md-input-container flex>
              <label class="md-body-2">Date Start</label>
              <input type="date" ng-model="date_start" class="date_start"/>
            </md-input-container>
            <md-input-container flex>
              <label class="md-body-2">Date End</label>
              <input type="date" ng-model="date_end" class="date_end"/>
            </md-input-container>
            
        <h2 class="md-body-2">Task</h2>
            <md-radio-group ng-model="data.group2">
              <md-radio-button value="All">All</md-radio-button>
              <md-radio-button value="Assigned">Assigned</md-radio-button>
              <md-radio-button value="Unassigned">Unassigned</md-radio-button>
            </md-radio-group>

        <h2 class="md-body-2">Sort By</h2>
                <md-input-container>
                    <label>All</label>
                    <md-select ng-model="ctrl.sortby">
                      <md-option>test</md-option>
                      <md-option>test</md-option>
                    </md-select>
                </md-input-container>
            <md-radio-group ng-model="data.group3">
              <md-radio-button value="a-z">A - Z</md-radio-button>
              <md-radio-button value="z-a">Z - A</md-radio-button>
            </md-radio-group>
    </md-content>
</md-list>
