<md-content flex
    layout="row"
    md-theme="teal">
    
    <md-content flex
        layout="column">
        <md-toolbar class="app-toolbar md-whiteframe-z2"
            ng-animate="animate">
            <div class="md-toolbar-tools" ng-if="theme == 'teal'">
               <md-button class="md-icon-button"
                    ng-click="back()">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <h2 class="md-title">{{ 'title_message' | translate }}</h2>
                <span flex></span>
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'grey'">
                    <md-tooltip>{{ 'action_search' | translate }}</md-tooltip>
                    <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-icon-button"
                    ng-click="add()">
                    <md-tooltip>{{ 'action_add_person' | translate }}</md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
            
            <div class="md-toolbar-tools" ng-if="theme == 'grey'">
                <md-button class="md-icon-button"
                    ng-click="$parent.theme = 'teal'">
                    <md-tooltip>{{ 'action_back' | translate }}</md-tooltip>
                    <md-icon>arrow_back</md-icon>
                </md-button>
                <md-input-container flex md-no-float>
                    <br>
                    <input ng-model="$parent.query.$"
                        placeholder="{{ 'action_search' | translate }}"
                        type="search">
                </md-input-container>
                <md-button class="md-icon-button"
                    ng-click="reset()">
                    <md-tooltip>{{ 'action_reset' | translate }}</md-tooltip>
                    <md-icon>cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-tabs flex
            md-stretch-tabs="auto"
            md-swipe-content="true"
            panel panel-default position-fixed>
            <md-tab>
            <md-tab-label>
              <md-icon>chat</md-icon>
            </md-tab-label>
            <md-tab-body>
            <br>
                <div>
                    <center>
                    <form ng-submit="todoAdd()">
                    <div ng-repeat="x in todoList">
                        {{ x.todoText }}
                    </div>
                    <md-divider ></md-divider>
                        <md-input-container style="width:100%" default>
                            <label>Text</label>
                            <input ng-model="todoInput">
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="submit()">Send</md-button>
                        <md-button class="md-raised md-primary" ng-click="remove()">Delete</md-button>
                    </form>
                    <br>
                        
                    </center>
                </div>
            </md-tab-body>
            </md-tab>
            
            <md-tab>
            <md-tab-label>
              <md-icon>call</md-icon>
            </md-tab-label>
            <md-tab-body>
              Call
            </md-tab-body>
            </md-tab>
            
            <md-tab>
            <md-tab-label>
              <md-icon>contacts</md-icon>
            </md-tab-label>
            <md-tab-body>
              Contacts
            </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</md-content>
